<div class="container">
	<h1>Zmiana hasłą</h1>
	<br>
	<form action="/zmien-haslo?key={{resetKey}}" method="POST">
		<div class="form-group row">
			<label class="col-md-2 col-form-label">Nowe hasło*</label>
			<div class="col-md-4">
				<input class="form-control" type="password" value="" placeholder="Podaj nowe hasło" name="password" autofocus>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-2 col-form-label">Powtórz hasło*</label>
			<div class="col-md-4">
				<input class="form-control" type="password" value="" placeholder="Powtórz hasło" name="passwordAgain">
			</div>
		</div>
		<div class="form-group row text-right">
			<div class="col-md-6">
				<button class="btn btn-primary" type="submit">Zmień hasło</button>
			</div>
		</div>
	</form>
</div>
